@{
  Layout = "_Layout";
}

<div>

    <p>
        <strong>"@Model.GetWord()"</strong> appears in the phrase <strong>"@Model.GetWords()"</strong><br />
        @Model.GetOccurTally() times.
    </p>

    <p><a href="/form">Let's try different words!</a></p>

</div>